<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/MicrosoftAjax.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/MicrosoftMvcAjax.js")" type="text/javascript"></script>
    <script src="../../Content/js/basic.js" type="text/javascript"></script>
    <script src="../../Content/js/jquery.js" type="text/javascript"></script>
    <script src="../../Content/js/jquery.simplemodal.js" type="text/javascript"></script>
    <link href="../../Content/css/basic.css" rel="stylesheet" type="text/css" />
    <script src="../../Content/scripts/jquery.colorbox-min.js" type="text/javascript"></script>
    <link href="../../Content/css/colorbox.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="wrapper">
        <div class="header-wrapper" id="header">
            <a class="top-logo" href="@Url.Action("Index", "Home")">
                <img src="@Url.Content("../../Content/Images/TopLogoSmall.png")" />
            </a>
        </div>
        <div class="body-child">
            <div class="main-wrapper">
                @RenderBody()
            </div>
            <div style="height: 30px;">
            </div>
        </div>
    </div>
    <div class="footer">
    </div>
</body>
</html>
